# CMake build files
build/
CMakeCache.txt
CMakeFiles/

# Compiled binaries
*.o
*.a
*.so
*.exe

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Raspberry Pi specific
*.ko

# Logs
*.log

# Installation directories (these are created by install script)
/opt/rasens/
/etc/rasens/
/var/log/rasens/
